#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  /* border: 1px blue solid; */
  margin: 0;
}

.main-content {
  padding: 0 2rem;
}

.loading-spinner {
  margin: auto;
  border: 20px solid rgb(239, 250, 250);
  border-radius: 50%;
  border-top: 20px solid rgb(67, 125, 125);
  width: 130px;
  height: 130px;
  animation: spinner 2s linear infinite;
}

.article-list {
  /* border: 1px red solid; */
  list-style: none;
  padding-left: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.comment-list {
  list-style: none;
  padding-left: 0;
}

.comment-card {
  border: 1px white solid;
}

.article-card {
  border: 1px white solid;
}

.article-img {
  max-width: 100%;
}

header {
  padding: 0;
  /* border: red 1px solid; */
  border-bottom: 1px white solid;
}

header > * {
  margin: 0;
}

.topic-list {
  list-style: none;
  margin: 0;
  padding: 1em; 
  /* border: red 1px solid; */
}

.topic-card {
  display: inline;
  padding: 0.5em 1em;
  margin: 1em;
  border: 1px white solid;
}

.topic-card:hover {
  opacity: 0.5;
}